{% extends "core/base.html" %}
{% load static %}
{% block page_title %}
    {{ owner_name }}'s List - {{ WEBSITE_NAME }}
{% endblock page_title %}
{% block extra_css %}
    <link href="{% static 'core/css/header.css' %}" rel="stylesheet">
    <link href="{% static 'core/css/category_tabs.css' %}" rel="stylesheet">
    <link href="{% static 'core/css/anime_table.css' %}" rel="stylesheet">
    <link href="{% static 'core/css/search.css' %}" rel="stylesheet">
    <link href="{% static 'core/css/shared_list.css' %}" rel="stylesheet">
{% endblock extra_css %}
{% block body_content %}
    <div class="sticky_header">
        <header>
            <a href="{% url 'landing_page' %}"
               class="header_content"
               id="header_title_section"
               style="text-decoration: none;
                      color: inherit;
                      cursor: pointer">
                <img src="{% static 'core/logo.webp' %}"
                     alt="{{ WEBSITE_NAME }}-logo"
                     id="header_web_logo">
                <h2 id="header_web_title">{{ WEBSITE_NAME }}</h2>
            </a>
            <div class="header_content" id="header_search_section">
                <i class="nf nf-seti-search"></i>
                <input type="search" placeholder="search anime..." id="shared_search_input">
            </div>
            <div class="header_content" id="header_action_buttons">
                <div class="shared_owner_badge_wrapper" id="shared_dropdown_wrapper">
                    <div class="shared_owner_badge" id="shared_dropdown_btn">
                        <i class="nf nf-fa-user"></i>
                        <span>{{ owner_name }}'s List</span>
                        <i class="nf nf-fa-caret_down"
                           style="font-size: 0.7rem;
                                  margin-left: 4px"></i>
                    </div>
                    <div class="shared_dropdown_menu" id="shared_dropdown_menu">
                        {% if request.user.is_authenticated %}
                            <button class="shared_dropdown_item" id="copy_list_btn">
                                <i class="nf nf-fa-copy"></i>
                                Copy this list
                            </button>
                            <a href="{% url 'list_view' %}" class="shared_dropdown_item">
                                <i class="nf nf-fa-home"></i>
                                Return to your list
                            </a>
                        {% else %}
                            <button class="shared_dropdown_item" id="copy_list_login_btn">
                                <i class="nf nf-fa-copy"></i>
                                Copy this list
                            </button>
                            <a href="{% url 'account_login' %}?next={{ request.path }}"
                               class="shared_dropdown_item">
                                <i class="nf nf-fa-sign_in"></i>
                                Login
                            </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </header>
        <nav class="category_tabs" id="category_tabs">
            <div class="m_search_loader"
                 id="category_tabs_loader"
                 style="width: 24px;
                        height: 24px;
                        display:inline-block;
                        margin-left: 20px"></div>
        </nav>
    </div>
    <main class="anime_table_wrapper">
        {% include "core/_anime_table.html" with show_edit_column=False %}
    </main>
{% endblock body_content %}
{% block scripts %}
    <script>
        window.__SHARED_DATA__ = null; // Will be fetched by shared_list.js
        window.__SHARE_TOKEN__ = "{{ share_token }}";
        window.__LOGIN_URL__ = "{% url 'account_login' %}?next={{ request.path }}";
        window.__USER_IS_AUTHENTICATED__ = {{ user_is_authenticated|yesno:"true,false" }};
    </script>
    <script defer src="{% static 'core/js/jwt_auth.js' %}"></script>
    <script defer src="{% static 'core/js/anime_renderer.js' %}"></script>
    <script defer src="{% static 'core/js/anime_filter.js' %}"></script>
    <script defer src="{% static 'core/js/shared_list.js' %}"></script>
{% endblock scripts %}
